$font-size: 32px;
$font-weight: 700;
$primary-blue: #1864ff;

.left-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  background-color: #f4f1ed;
  box-shadow: 0px 3px 6px #0000000f;
  opacity: 1;
  padding-left: 39px;
  padding-top: 96px;
}

.logo-left-side {
  color: $primary-blue;
  font-size: $font-size;
  font-weight: $font-weight;
}
.logo-right-side {
  font-style: italic;
  font-size: $font-size;
  font-weight: $font-weight;
}

.left-area-image {
  width: 40vw;
}

.welcome-header {
  color: $primary-blue;
}
